.calc{
border: 1px solid black;
border-radius: 5px;
width: 200px;
}
.int_text{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.btn{
 
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
  
  
}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  
  
}